/* Jumbotron Styling */
.jumbotron{margin-bottom: 0!important;
background-color: cadetblue !important;}

.jumbotron div h1 {text-align: center;
font-family: Verdana, Arial, Helvetica;
color: white}

@media only screen and (max-width:991px) {
.jumbotron div h1{font-size: xxx-large;}
}

/* Nav Bar */
.container-fluid .nav.navbar-nav {background-color: whitesmoke;
    position: absolute;
    left: 0;}

.navbar.navbar-default {background-color: rgb(252, 190, 76);
position: sticky;
top:0;
z-index: 1;}


/* responsible for positioning of links */


ul.nav.navbar-nav li a {color: black;
font-family: 'Calibri Light';
font-size: 17px;
font-weight: bold;}

ul.nav.navbar-nav li a:hover {color: blue;
background-color: yellow;}

@media only screen and (min-width: 991px) {
    #dropdown_nav { display: none; }
  }

@media only screen and (max-width: 990px) {
    #dropdown_nav { display: block; font-size: 30px;}

    .dropdown-menu { display: block; }

  }

 
@media only screen and (max-width: 990px) {
ul.nav.navbar-nav li a { display: none; }
} 

/* Photo & Text */

/* Aligns Photo & Text Below */

#page_header{padding-bottom: 100px;}

#snapshot {padding-top: 10px;
display: inline-block;
text-align: center;
border-right: 1px solid black;
padding-right: 75px;}

#snapshot img{width:250px;height:250px;
border-radius: 50%;
padding: 10px;}

@media only screen and (max-width:991px) {
    #snapshot img{width:250px;height:250px;
    border-radius: 50%;
    padding: 10px;
    margin-left: 10px;}
}

/* Sets Width of block of text under picture */
#snapshot p {width: 300px;
font-family: 'Calibri';}

@media only screen and (max-width:991px) {
#snapshot p {font-size: 25px;
text-align: justify;}
}


/* NJIT & RU Logos */
#logos {width: 100%;
margin-top: 25%;}


/* Responsive Logo for Smaller Devices */

@media only screen and (max-width:991px) {
#logos {width: 125%;
    margin-top: 45%;
    padding-left: 15px;}
}

/* Knowledge Section */

#knowledge_base{width: auto;
text-align: center;
padding-top: 50px;
padding-bottom: 100px;}

#knowledge_base img{height: 100px;}

/* Projects Section*/


/* MVP Project */
.section_header {text-align: center;
width: 100%;
border-bottom:2px solid black;
padding-bottom: 10px;
font-family: "Calibri Light";
font-weight: bold;
}



#project_1 {text-align: center;
font-family: 'Calibri Light';
color: rgb(62, 62, 231);
font-weight: bold;
padding-top: 15px;
padding-bottom: 15px;}

#project_1_figure img{width: 75%;
display: block;
margin-left: auto;
margin-right: auto;
border:1px solid gray}

.proj_description {border-top: 1px black;
text-align: justify;
float: bottom;
margin-top: 10px;
padding-top: 20px;
font-size: 16px;}

#myBtn{background-color: cadetblue;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
display: flex;}

.modal-content{display: block;
width: 1180px;
margin-left: auto;
margin-right: auto;}

.modal-content img{width: 1150px;}

#close_modal{position: absolute;
font-size: 50px;
background-color: red;
color: white;
opacity: 1.0;}

.close{font: 0}

@media only screen and (max-width: 991px) {
    #myModal {padding-top:200px;}
    .modal-content { width: 900px !important; height: 550px !important; }
    .modal-content img { width: 900px !important; height: 550px !important; }
    #myBtn {font-size: 25px;}
} 

@media only screen and (max-width:991px) {
.proj_description {font-size: 25px;
text-align: justify;}

.section_header {font-size: 50px;
}

#project_1{font-size: 40px;}
}

/* Power Plants Project */

#project_2 {text-align: center;
font-family: 'Calibri Light';
color: rgb(62, 62, 231);
font-weight: bold;
padding-top: 100px;
padding-bottom: 15px;}


#project_2_figure img{width: 75%;
display: block;
margin-left: auto;
margin-right: auto;
border:1px solid gray}

#project_2_link{color: rgb(62, 62, 231);
border-bottom: 2px solid rgb(62, 62, 231);}

#project_2_link:hover{color: rgb(252, 190, 76);
border-bottom: 0px;}

#myBtn2{background-color: cadetblue;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
display: flex;}
    
.modal-content{display: block;
width: 1180px;
margin-left: auto;
margin-right: auto;}
    
.modal-content img{width: 1150px;}
    
#close_modal2{position: absolute;
font-size: 50px;
background-color: red;
color: white;
opacity: 1.0;}


/* Footer */
.page-footer {
width: 100%;
background-color: cadetblue;
}

.page-footer .container {
width: 75%;
}

#footer_h2 {text-align: center;
font-family: "Calibri";}

#footer_links li{font-size: 25px;
list-style-type: none;
}

#footer_links li a{font-family: "Calibri";
color: white;}

#footer_links li a:hover{
color: yellow
}


@media only screen and (max-width:991px){
    #project_2{font-size: 40px;}
    #myBtn2{font-size: 25px;}
}
/* Testing */
